- wrap_layout :base_with_nav do
  .container
    - if content_for? :sidebar
      .row
        %main.col-md-9{ role: 'main' }
          - if body_title?
            .page-header
              %h1= body_title

          = yield
        .sidebar.col-md-3
          = yield_content :sidebar
    - else
      %main{ role: 'main' }
        - if body_title?
          .page-header
            %h1= body_title

        = yield
